<app-sidenav></app-sidenav>

<section class="container p-4 xl:ml-80">
  <div class="flex flex-col">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block py-2 align-middle md:px-6 lg:px-8">
        <div class="overflow-hidden border border-gray-200 dark:border-gray-700 md:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
            <thead class="bg-gray-50 dark:bg-gray-800">
              <tr>
                <th scope="col"
                  class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                  <div class="flex items-center gap-x-3">
                    <input type="checkbox"
                      class="text-blue-500 border-gray-300 rounded dark:bg-gray-900 dark:ring-offset-gray-900 dark:border-gray-700">
                    <button class="flex items-center gap-x-2">
                      <span>Id</span>
                    </button>
                  </div>
                </th>

                <th scope="col"
                  class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                  Client
                </th>

                <th scope="col"
                  class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                  Offers
                </th>

                <th scope="col"
                  class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                  status
                </th>

                <th scope="col" class="relative py-3.5 px-4">
                  <span class="sr-only">Actions</span>
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
              <!-- Loop through clients array to display data dynamically -->
              <tr *ngFor="let order of orders">
                <td class="px-4 py-4 text-sm font-medium text-gray-200 dark:text-gray-200 whitespace-nowrap">
                  <div class="flex items-center gap-x-3">
                    <input type="checkbox"
                      class="text-blue-500 border-gray-300 rounded dark:bg-gray-900 dark:ring-offset-gray-900 dark:border-gray-700">
                    <div>
                      <span>order {{ order.id }}</span><br>
                      <span>client {{ getClientForOrder(order)?.id }}</span>
                    </div>
                  </div>
                </td>
                <td class="px-4 py-4 text-sm font-medium text-gray-200 whitespace-nowrap">
                  <div class="inline-flex items-center px-3 py-1 rounded-full gap-x-2">
                    <h2 class="text-sm font-normal">{{ getClientForOrder(order)?.firstName }}</h2>
                  </div>
                </td>

                <td class="px-4 py-4 text-sm font-medium text-gray-200 whitespace-nowrap">
                  <div class="inline-flex items-center px-3 py-1 rounded-full gap-x-2">
                    <h2 class="text-sm font-normal">{{ order.offers }}</h2>
                  </div>
                </td>
                <td class="px-4 py-4 text-sm font-medium text-gray-200 whitespace-nowrap">
                  <div class="inline-flex items-center px-3 py-1 rounded-full gap-x-2">
                    <h2 class="text-sm font-normal">{{ order.status }}</h2>
                  </div>
                </td>
                <td class="px-4 py-4 text-sm font-medium text-gray-200 whitespace-nowrap">
                  <div class="inline-flex items-center px-3 py-1 rounded-full gap-x-2">
                    <button (click)="updateOrderStatus(order.id!, 'completed')" class="text-sm font-normal">Approve</button>
                    <button (click)="updateOrderStatus(order.id!, 'cancelled')" class="text-sm font-normal">Cancel</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
